* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 350px) and (max-width: 650px) {
    #botão1,
    #botão2,
    #botão3 {
        left: -10%;
    }
    #botão1,
    #botão5 {
        top: 13%;
    }
    #botão4,
    #botão5 {
        left: 10%;
    }
    #botão2,
    #botão4 {
        top: 33%;
    }
    #botão3 {
        top: 53%;
    }
}

@media only screen and (min-width: 650px) and (max-width: 1000px) {
    #botão1,
    #botão2,
    #botão3 {
        left: -10%;
    }
    #botão1,
    #botão5 {
        top: 10%;
    }
    #botão4,
    #botão5 {
        left: 5%;
    }
    #botão2,
    #botão4 {
        top: 20%;
    }
    #botão3 {
        top: 30%;
    }
}


/* ---------------- BackGround ---------------- */

body {
    background-color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 100vh;
    min-height: 100vh;
}

body:hover #imgheader {
    background-color: rgba(0, 255, 0, 0.562);
}

html {
    min-height: 100%;
}


/* ---------------- BackGround ---------------- */


/* ---------------- HEADER ---------------- */

header {
    width: 100%;
    height: 55px;
    border-radius: 15px;
    z-index: 1000;
}

header h1 {
    text-align: center;
    color: white;
    background-color: rgba(2, 124, 2, 0.719);
    border-radius: 15px;
    font-size: 35px;
    margin-top: 5px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.459);
}

header h1 img {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.452);
}


/* ---------------- HEADER ---------------- */


/* ---------------- CORPO ---------------- */


/* ---------------- MAIN ---------------- */

main {
    background-image: url("environment.jpg");
    background-image: opacity .1;
    background-repeat: no-repeat;
    z-index: 0.2;
    background-size: cover;
    background-position: 50% auto auto auto;
    min-height: 100vh;
    min-width: 100vh;
}

.main {
    background-color: rgba(0, 0, 0, 0.747);
    background-size: cover;
    min-height: 100vh;
    margin-top: -18px;
}

.main span {
    margin-top: 5%;
}


/* ---------------- MAIN MAPS ---------------- */

#titulo {
    margin-left: 28%;
    padding-top: 3%;
    color: white;
}

#maps,
#dash {
    position: absolute;
    margin-left: 18%;
    color: white;
}

#maps {
    margin-top: 5%;
}

#maps h2,
#dash h2 {
    margin-bottom: 1%;
    margin-left: 2%;
}

#maps p,
#dash p {
    margin-bottom: 3%;
    margin-top: 1.5%;
    margin-left: 3%;
    margin-right: 5%;
}

#maps a,
#dash a {
    color: rgb(103, 103, 202);
}

#dash {
    margin-top: 23%;
}

.p_border {
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, rgb(65, 170, 38), rgb(50, 189, 15));
    border-image-slice: 2;
    height: 100%;
    border-left: none;
    border-right: none;
}


/* ---------------- MAIN MAPS ---------------- */


/* ---------------- MAIN CONTEÚDO ---------------- */


/* ---------------- MAIN CONTEÚDO ---------------- */

#borda img {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 3px;
}


/* ---------------- MAIN ---------------- */

.titulo {
    display: flex;
    background-color: rgba(0, 0, 0, 0.705);
    min-height: 100vh;
}

.titulo h1 {
    text-align: center;
    position: absolute;
    margin-left: 25%;
    color: white;
    margin-top: 4%;
}

.titulo h2 {
    text-align: center;
    position: absolute;
    margin-top: 10.5%;
    margin-left: 22%;
    color: white;
}

#ul_li {
    display: flex;
    z-index: 1;
    margin-top: 10%;
    margin-left: 25%;
    color: white;
}

#ul_li ul div li {
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, rgb(65, 170, 38), rgb(61, 196, 28));
    border-image-slice: 1;
    height: 120px;
    border-left: none;
    border-right: none;
    border-radius: 10px;
}

#ul_li ul li {
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    width: 800px;
    height: 130px;
    margin-top: 5%;
    text-align: left;
    list-style: none;
    margin-left: -50px;
    padding-left: 10px;
    display: flex;
}

#ul_li ul li h3 {
    display: flex;
    position: absolute;
    padding-top: 2%;
    padding-left: 5px;
}

#ul_li ul li a {
    display: flex;
    position: absolute;
    padding-top: 5%;
    padding-left: 10px;
    color: rgb(103, 103, 202);
}


/* ---------------- BOTÕES ---------------- */


/* ---------------- BOTÕES HELP ---------------- */

.main #botão1,
#botão2,
#botão3 {
    margin-left: calc((50% - 100px) - 15%);
    position: absolute;
}

.main #botão4,
#botão5 {
    margin-left: calc((50% - 100px) + 15%);
    position: absolute;
}

.main #botão1,
.main #botão5 {
    margin-top: 3%;
}

.main #botão2,
.main #botão4 {
    margin-top: 17%;
}

.main #botão3 {
    margin-top: 31%;
}


/* ---------------- BOTÕES HELP ---------------- */


/* ---------------- BOTÕES CONTEUDO ---------------- */

#botão_des,
#botão_que,
#botão_pol {
    position: absolute;
    margin-left: calc(50% - 100px);
}

#botão_des {
    margin-top: 3%;
}

#botão_que {
    margin-top: 17%;
}

#botão_pol {
    margin-top: 31%;
}


/* ---------------- BOTÕES CONTEUDO ---------------- */

.btn {
    width: 200px;
    height: 150px;
    border-radius: 25px;
    background-color: rgba(209, 209, 209, 0.925);
    text-align: center;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.678);
}

.btn:hover {
    transform: scale(1.03);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 0 6px 4px rgb(34, 168, 29);
}

.btn:active {
    transform: scale(0.35);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.342);
}

.btn img {
    width: 100px;
    height: 100px;
    margin-left: 25%;
    margin-right: 50%;
    margin-top: 5%;
}

.btn p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: rgb(0, 0, 0);
}

.btn-back {
    width: 40px;
    height: 40px;
    background-color: rgba(151, 149, 149, 0.096);
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 13px;
    position: absolute;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.671)
}

.btn-back p {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0, 0);
    opacity: 0%;
}

.btn-back img {
    position: absolute;
    top: 25%;
    width: 24px;
    height: 24px;
    border-radius: 45%;
    margin-left: 10px;
}

.btn-back:hover {
    background-color: rgba(151, 149, 149, 0.418);
    width: 100px;
    color: rgba(151, 149, 149, 0.418);
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.671);
}

.btn-back:hover p {
    transition: all 0.5s ease-in-out;
    display: block;
    margin-top: 10px;
    margin-left: 50%;
    margin-right: auto;
    z-index: 0;
    color: rgba(209, 209, 209, 0.623);
    opacity: 100%;
}

.btn-back:hover img {
    transition: all 0.5s ease-in-out;
    transform: rotate(-360deg);
}

.btn-back:active {
    transform: scale(0.35);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.342);
}


/* ---------------- BOTÕES ---------------- */


/* ---------------- CORPO ---------------- */


/* ---------------- RODAPÉ ---------------- */

footer {
    margin-top: 8px;
    background-color: rgba(2, 124, 2, 0.719);
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 15px;
    text-align: center;
    color: whitesmoke;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.548);
}

footer p {
    margin-top: 0.3%;
    position: absolute;
    margin-left: calc(50% - 90px);
}


/* ---------------- RODAPÉ ---------------- */